<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<%
require_relative 'settings'

def parse_paragraph(paragraph)
  "<div style=\"font-size:#{Settings::Font::Sizes.article_body};
                color:#{Settings::Colors.gray}; text-align: justify;
                font-family:#{Settings::Font.family}\">
    #{parse_content(paragraph.children)}
  </div>"
end

def parse_content(content_array)
  content_html = ''
  content_array.each do |item|
    content_html +=
      case item.name
      when 'text' then parse_text(item)
      when 'link' then parse_link(item)
      when 'images' then parse_images(item)
      when 'break' then parse_break
      when 'table' then parse_table(item)
      when 'bulleted' then parse_list(item, 'ul')
      when 'numbered' then parse_list(item, 'ol')
      when 'underline' then parse_tag(item, 'u')
      when 'bold' then parse_tag(item, 'strong')
      when 'italics' then parse_tag(item, 'em')
      when 'details' then parse_details(item)
      when 'para' then parse_content(item.children) + parse_break
      else raise item.name
      end
  end
  content_html
end

def parse_text(text_element)
  text_element.text
end

def parse_break
  '<br>'
end

def parse_list(list_element, tag)
  list_html = ''
  list_element.xpath('./xmlns:item').each do |item_element|
    list_html += parse_tag(item_element, 'li')
  end
  "<#{tag}>#{list_html}</#{tag}>"
end

def parse_tag(xml_element, tag)
  "<#{tag}>#{parse_content(xml_element.children)}</#{tag}>"
end

def parse_table(table_element)
  mode = table_element['mode'].nil? ? 'normal' : table_element['mode']
  send("parse_#{mode}_table", table_element)
end

def parse_normal_table(table_element)
  table_html = ("<table align=\"center\" cellspacing=\"0px\" " +
                "cellpadding=\"3px\">\n")
  table_element.xpath('./xmlns:tr').each do |tr_element|
    table_html += parse_tr(tr_element, 'normal')
  end
  table_html += "\n</table>"
end

def parse_aesthetic_table(table_element)
  table_html = ("<table align=\"center\" cellspacing=\"0px\" " +
                "cellpadding=\"3px\" width=\"100%\">\n")
  table_element.xpath('./xmlns:tr').each do |tr_element|
    table_html += parse_tr(tr_element, 'aesthetic')
  end
  table_html += "\n</table>"
end

def parse_layout_table(table_element)
  alignment = table_element['align']
  table_html = ("<table align=\"#{alignment}\" cellspacing=\"0px\" " +
                "cellpadding=\"3px\">\n")
  table_element.xpath('./xmlns:tr').each do |tr_element|
    table_html += parse_tr(tr_element, 'layout')
  end
  table_html += "\n</table>"
end

def parse_tr(tr_element, mode)
  tr_html = "<tr>\n"
  tr_element.xpath('./xmlns:td').each do |td_element|
    tr_html += send("parse_#{mode}_td", td_element)
  end
  tr_html += "\n</tr>"
end

def render_td(cell_span, align, border_style, font_info, content_array)
  %{<td style="border-style:#{border_style}; border-width:thin;
               border-color:#{Settings::Colors.orange};
               font-family:#{Settings::Font.family};
               font-size:#{font_info.first}; color:#{font_info.last}"
        rowspan="#{cell_span.first}" colspan="#{cell_span.last}" align="#{align}">
      #{parse_content(content_array)}
    </td>
  }
end

def parse_borders(td_element)
  is_top = true?(td_element['istop'])
  is_left = true?(td_element['isleft'])
  border_style = is_top ? 'solid' : 'none'
  border_style += ' solid solid '
  border_style += is_left ? 'solid' : 'none'
  border_style
end

def parse_normal_td(td_element)
  cell_span = [td_element['rowspan'], td_element['colspan']]
  border_style = parse_borders(td_element)
  font_info = [Settings::Font::Sizes.article_body, Settings::Colors.gray]
  render_td(cell_span, 'center', border_style, font_info, td_element.children)
end

def parse_aesthetic_td(td_element)
  cell_span = [td_element['rowspan'], td_element['colspan']]
  border_style = parse_borders(td_element)
  font_info =
    if true?(td_element['istop'])
      [Settings::Font::Sizes.table_header, Settings::Colors.orange]
    else
      [Settings::Font::Sizes.table_data, Settings::Colors.gray]
    end
  render_td(cell_span, 'center', border_style, font_info, td_element.children)
end

def parse_layout_td(td_element)
  cell_span = [td_element['rowspan'], td_element['colspan']]
  font_info = [Settings::Font::Sizes.article_body, Settings::Colors.gray]
  alignment = td_element['align']
  render_td(cell_span, alignment, 'none', font_info, td_element.children)
end

def parse_link(link_element)
  "<a target=\"_blank\" href=\"#{link_element['to']}\" " +
  "style=\"font-family:#{Settings::Font.family}; text-decoration:underline\">" +
  "#{parse_content(link_element.children)}</a>"
end

def parse_images(images_element, is_national=false)
  row_html = parse_image_source(images_element.at_xpath('./xmlns:source'))
  row_html, colspan = parse_image_rows(images_element) if row_html.nil?
  caption_html = parse_image_caption(images_element.at_xpath('./xmlns:caption'),
                                      colspan)
  alignment = is_national ? 'right' : 'center'
  "<table align=\"#{alignment}\">
     #{row_html}
     #{caption_html}
   </table>"
end

def parse_image_rows(images_element)
  rows = images_element.xpath('./xmlns:row')
  html = ''
  colspan = 0
  rows.each do |r|
    current_span = 0
    html += "<tr>\n"
    sources = r.xpath('./xmlns:source')
    sources.each do |s|
      current_span += Integer(s['colspan'])
      html += "#{parse_image_source(s)}\n"
    end
    html += "\n</tr>"
    colspan = current_span if current_span > colspan
  end
  [html, colspan]
end

def parse_image_source(source_element)
  return nil if source_element.nil?
  rowspan = source_element['rowspan']
  colspan = source_element['colspan']
  src = source_element['url']
  width = source_element['width']
  height = source_element['height']
  "<td rowspan=\"#{rowspan}\" colspan=\"#{colspan}\" align=\"center\">
     <img src=\"#{src}\" width=\"#{width}\" height=\"#{height}\">
   </td>"
end

def parse_image_caption(caption_element, colspan)
  return '' if caption_element.nil?
  "<tr>
     <td style=\"text-align: justify; vertical-align: middle; font-family:#{Settings::Font.family};
                 font-size: #{Settings::Font::Sizes.image_caption}; color:#{Settings::Colors.gray};\"
         colspan=#{colspan}>
       #{parse_content(caption_element.children)}
     </td>
   </tr>"
end

def true?(value)
  value.to_s.downcase == 'true'
end

def parse_details(details_element)
  ''
end
%>
<html>
  <head>
      <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
      <title>Ismaili Insight</title>
  </head>
  <body>
    <div style="background-color:<%= Settings::Colors.gray%>;">
      <table align="center" cellpadding="0px">

        <!-- Technical Information -->
        <tr>
          <td height="30px" align="center">
            <a name="ReturnTop"></a>
            <span style="font-size:<%= Settings::Font::Sizes.newsletter_help %>;
                         color:<%= Settings::Colors.white%>; vertical-align:top;
                         font-family:<%= Settings::Font.family %>">
              <strong>
                For an optimal viewing experience
                <a href="##HTMLNewsletterURL##"
                   style="text-decoration:none; color:<%= Settings::Colors.orange%>;
                          font-family:<%= Settings::Font.family %>">
                  <em>click here</em></a>.
              </strong>
            </span>
            <br />
            <span style="font-size:<%= Settings::Font::Sizes.newsletter_help_small %>;
                         color:<%= Settings::Colors.white%>; vertical-align:top;
                         font-family:<%= Settings::Font.family %>">
              Please add
              <a href="mailto:newsletters@IsmailiInsight.org"
                 style="color:<%= Settings::Colors.orange%>; text-decoration:none;
                 font-family:<%= Settings::Font.family %>">
                <em><strong>newsletters@IsmailiInsight.org</strong></em>
              </a>
              to your address book to ensure accurate delivery.
            </span>
          </td>
        </tr>

        <tr>
          <td>
            <table cellpadding="0" cellspacing="0"  width="100%">
              <tr>
                <!-- Left stripe -->
                <td style="background-color:<%= Settings::Colors.orange%>;" width="46px">
                  <img height="45px" width="45px"
                       src="https://www.ismailiinsight.org/enewsletterpro/public_templates/IsmailiInsight/Images/transparent.gif">
                </td>
                <td style="background-color:<%= Settings::Colors.white%>;">
                  <!-- Newsletter content -->
                  <table height="100%" width="616px" cellpadding="0px" cellspacing="0px">
                    <tr>
                      <td>
                        <!-- Header -->
                        <table width="100%" cellpadding="2px" cellspacing="0px">
                          <tr>
                            <td rowspan="4" width="2%"></td>
                            <td colspan="4" align="right" valign="bottom">
                              <img alt="Ismaili Insight" height="108px" width="375px"
                                   src="https://www.ismailiinsight.org/enewsletterpro/public_templates/IsmailiInsight/images/logo.png">
                            </td>
                            <td rowspan="4" width="2%"></td>
                          </tr>
                          <tr>
                            <td colspan="2" align="left" valign="bottom"
                                style="font-size: <%= Settings::Font::Sizes.newsletter_header %>;
                                       color: <%= Settings::Colors.gray %>;
                                       font-family:<%= Settings::Font.family %>"><%= date %></td>
                            <td colspan="2" align="right" valign="bottom"
                                style="font-size: <%= Settings::Font::Sizes.newsletter_header %>;
                                       color: <%= Settings::Colors.gray %>;
                                       font-family:<%= Settings::Font.family %>"><%= title %></td>
                          </tr>
                          <tr>
                            <td colspan="4" height="4px">
                              <div style="border-bottom:thin solid <%= Settings::Colors.orange %>"></div>
                            </td>
                          </tr>
                          <tr>
                            <td width="25%" valign="top" style="padding:4px;" align="left">
                              <a href="#events" style="font-size:<%= Settings::Font::Sizes.category_toc_item %>;
                                 color:<%= Settings::Colors.gray %>; font-family:<%= Settings::Font.family %>;
                                 text-decoration:underline">
                                 Programs & Events</a>
                            </td>
                            <td width="28%" valign="top" style="padding:4px;" align="center">
                              <a href="#news" style="font-size:<%= Settings::Font::Sizes.category_toc_item %>;
                                 color:<%= Settings::Colors.gray %>; font-family:<%= Settings::Font.family %>;
                                 text-decoration:underline">
                                 News & Information</a>
                            </td>
                            <td width="28%" valign="top" style="padding:4px;" align="center">
                              <a href="#resources" style="font-size:<%= Settings::Font::Sizes.category_toc_item %>;
                                 color:<%= Settings::Colors.gray %>; font-family:<%= Settings::Font.family %>;
                                 text-decoration:underline">
                                 Links & Resources</a>
                            </td>
                            <td width="15%" valign="top" style="padding:4px;" align="right">
                              <a href="#contact" style="font-size:<%= Settings::Font::Sizes.category_toc_item %>;
                                 color:<%= Settings::Colors.gray %>; font-family:<%= Settings::Font.family %>;
                                 text-decoration:underline">
                                 Contact Us</a>
                            </td>
                          </tr>
                        </table>

                        <!-- ToC for Programs & Events -->
                        <table width="100%">
                          <tr>
                            <td rowspan="3" width="2%"></td>
                            <td colspan="2" valign="top" style="font-size:<%= Settings::Font::Sizes.category_header %>;
                                color:<%= Settings::Colors.gray %>; font-family:<%= Settings::Font.family %>">
                                Programs & Events
                            </td>
                            <td rowspan="3" width="2%"></td>
                          </tr>
                          <tr>
                            <td colspan="2" height="7px">
                              <div style="border-bottom:thin solid <%= Settings::Colors.orange %>"></div>
                            </td>
                          </tr>
                          <tr>
                            <td valign="top" width="58%">
                              <table cellpadding="0px" cellspacing="0px">
                                <tr>
                                  <td height="26px">
                                    <table cellpadding="0px" cellspacing="0px">
                                      <tr>
                                        <td>
                                          <img alt="" height="17" width="23"
                                               src="https://www.ismailiinsight.org/enewsletterpro/public_templates/IsmailiInsight/images/Moon.png">
                                        </td>
                                        <td>
                                          <a href="#chaandraat" style="font-size:<%= Settings::Font::Sizes.toc_item %>;
                                             color:<%= Settings::Colors.gray %>; margin-left:10px;
                                             font-family:<%= Settings::Font.family %>;
                                             text-decoration:underline">
                                            <%= chaandraat %>
                                          </a>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                                <% (0..events.articles.count - 1).each do |index| %>
                                <tr>
                                  <td height="26px">
                                    <a href="#national<%= index + 1 %>" style="font-size:<%= Settings::Font::Sizes.toc_item %>;
                                       color:<%= Settings::Colors.gray %>; font-family:<%= Settings::Font.family %>;
                                       text-decoration:underline">
                                      <%= events.articles[index].title %>
                                    </a>
                                  </td>
                                </tr>
                                <% end %>
                              </table>
                            </td>
                            <td valign="top" width="42%">
                              <table cellpadding="0px" cellspacing="0px">
                                <% sections.each do |section| %>
                                <tr>
                                  <td height="<%= section.subsections.empty? ? '26px' : '52px' %>">
                                    <a href="#<%= section.short_name %>"
                                       style="font-size:<%= Settings::Font::Sizes.toc_item %>;
                                              color:<%= Settings::Colors.gray %>; font-family:<%= Settings::Font.family %>;
                                              text-decoration:underline">
                                      <%= section.title %> Events
                                    </a>
                                    <% unless section.subsections.empty? %>
                                    <div style="height: 5px;">
                                    </div>
                                    <span style="color:<%= Settings::Colors.gray %>; font-size:<%= Settings::Font::Sizes.toc_subtitle_item %>;
                                          text-align: justify; font-family:<%= Settings::Font.family %>">
                                      <%= section.subsections %>
                                    </span>
                                    <% end %>
                                  </td>
                                </tr>
                                <% end %>
                              </table>
                            </td>
                          </tr>
                        </table>

                        <table width="100%">
                          <tr>
                            <td rowspan="3" width="2%"></td>
                            <td colspan="2" valign="top" style="font-size:<%= Settings::Font::Sizes.category_header %>;
                                color:<%= Settings::Colors.gray %>; font-family:<%= Settings::Font.family %>">
                                News & Information
                            </td>
                            <td rowspan="3" width="2%"></td>
                          </tr>
                          <tr>
                            <td colspan="2" height="7px">
                              <div style="border-bottom:thin solid <%= Settings::Colors.orange %>"></div>
                            </td>
                          </tr>
                          <tr>
                            <!-- ToC for News & Information -->
                            <td valign="top">
                              <table cellpadding="4px" cellspacing="0px">
                                <tr>
                                  <td height="26px">
                                    <a href="http://www.akdn.org/news.asp"
                                       style="font-size:<%= Settings::Font::Sizes.toc_item %>;
                                              color:<%= Settings::Colors.gray %>;
                                              font-family:<%= Settings::Font.family %>;
                                              text-decoration:underline">
                                      Currently on AKDN.org
                                    </a>
                                  </td>
                                </tr>
                                <tr>
                                  <td height="26px">
                                    <a href="http://www.theismaili.org/News-Events"
                                       style="font-size:<%= Settings::Font::Sizes.toc_item %>;
                                              color:<%= Settings::Colors.gray %>;
                                              font-family:<%= Settings::Font.family %>;
                                              text-decoration:underline">
                                      Currently on TheIsmaili.org
                                    </a>
                                  </td>
                                </tr>
                                <% (0..news.articles.count - 1).each do |index| %>
                                <tr>
                                  <td height="26px">
                                    <a href="#news<%= index + 1 %>"
                                       style="font-size:<%= Settings::Font::Sizes.toc_item %>;
                                              color:<%= Settings::Colors.gray %>;
                                              font-family:<%= Settings::Font.family %>;
                                              text-decoration:underline">
                                      <%= news.articles[index].title %>
                                    </a>
                                  </td>
                                </tr>
                                <% end %>
                              </table>
                            </td>
                            <!-- National Picture -->
                            <td valign="top" width="400px">
                              <%= parse_images(images) %>
                            </td>
                          </tr>
                        </table>

                        <!-- Articles for Programs & Events -->
                        <table cellpadding="4px" cellspacing="0px" width="100%"
                               style="margin-top:6px;">
                          <tr>
                            <td rowspan="2" width="2%"></td>
                            <td width="96%" align="left" valign="bottom"
                                style="font-size:<%= Settings::Font::Sizes.category_header %>;
                                       padding-top:6px;">
                              <a name="events">
                                <span style="font-family:<%= Settings::Font.family %>;
                                             color:<%= Settings::Colors.gray %>">Programs & Events</span>
                              </a>
                            </td>
                            <td rowspan="2" width="2%"></td>
                          </tr>
                          <tr>
                            <td height="7px">
                              <div style="border-bottom:thin solid <%= Settings::Colors.orange %>"></div>
                            </td>
                          </tr>

                          <!-- Chaandraat Article -->
                          <tr>
                            <td width="2%"></td>
                            <td width="96%" align="left" valign="bottom" style="padding-top:6px;">
                              <table cellpadding="0px" cellspacing="0px" width="100%">
                                <tr>
                                  <td style="border-bottom:thin solid <%= Settings::Colors.gray %>" width="23px">
                                    <img alt="" height="17" width="23"
                                         src="https://www.ismailiinsight.org/enewsletterpro/public_templates/IsmailiInsight/images/Moon.png">
                                  </td>
                                  <td style="border-bottom:thin solid <%= Settings::Colors.gray %>;
                                             font-size:<%= Settings::Font::Sizes.article_header %>">
                                    <a name="chaandraat">
                                      <span style="margin-left:10px;
                                                   font-family:<%= Settings::Font.family %>;
                                                   color:<%= Settings::Colors.gray %>"><%= chaandraat %></span>
                                    </a>
                                  </td>
                                  <td style="border-bottom:thin solid <%= Settings::Colors.gray %>">
                                    <a href="#ReturnTop" style="font-size: <%= Settings::Font::Sizes.return_top%>;
                                       color:<%= Settings::Colors.orange %>; float:right; text-decoration:none;
                                       font-family:<%= Settings::Font.family %>">
                                       <strong><em>Return to Top</em></strong>
                                     </a>
                                  </td>
                                </tr>
                              </table>
                            </td>
                            <td width="2%"></td>
                          </tr>
                        <% (0..events.articles.count - 1).each do |index| %>
                          <!-- <%= events.articles[index].title %> Article -->
                          <tr>
                            <td width="2%"></td>
                            <td width="96%" align="left" valign="bottom" style="padding-top:6px;">
                              <span style="font-size:<%= Settings::Font::Sizes.article_header %>;
                                           margin-bottom:2px;"
                                    width="100%">
                                <a name="national<%= index + 1 %>">
                                  <span style="font-family:<%= Settings::Font.family %>;
                                               color:<%= Settings::Colors.gray %>">
                                    <%= events.articles[index].title %></span>
                                </a>
                              </span>
                              <div style="border-bottom: solid thin <%= Settings::Colors.gray %>;
                                          margin-bottom:5px"></div>
                              <%
                              first_paragraph = true
                              events.articles[index].paragraphs.each do |paragraph|
                              %>
                              <% if not first_paragraph %>
                              <div>&nbsp;</div>
                              <% end %>
                              <%= parse_paragraph(paragraph) %>
                              <%
                              first_paragraph = false
                              end
                              %>
                              <div style="margin-top:10px; float:right">
                                <a href="#ReturnTop" style="font-size:<%= Settings::Font::Sizes.return_top %>;
                                                            color:<%= Settings::Colors.orange %>; text-decoration:none;
                                                            font-family:<%= Settings::Font.family %>">
                                  <strong><em>Return to top</em></strong>
                                </a>
                              </div>
                            </td>
                            <td width="2%"></td>
                          </tr>
                        <% end %>
                        </table>

                      <% sections.each do |section| %>
                        <!-- <%= section.title %> Events -->
                        <table cellpadding="4px" cellspacing="0px" width="100%"
                               style="margin-top:6px;">
                          <tr>
                            <td width="2%"></td>
                            <td width="96%" align="left" valign="bottom"
                                style="font-size:<%= Settings::Font::Sizes.section_header %>;
                                       border-bottom:thin solid <%= Settings::Colors.orange %>;
                                       padding-top:6px;">
                              <a name="<%= section.short_name %>">
                                <span style="font-family:<%= Settings::Font.family %>;
                                             color:<%= Settings::Colors.gray %>">
                                  <strong><%= section.title %> Events</strong></span>
                              </a>
                            </td>
                            <td width="2%"></td>
                          </tr>

                        <% if section.articles.count != 0 %>
                          <% (0..section.articles.count - 1).each do |index| %>
                        <!-- <%= section.articles[index].title %> Article -->
                          <tr>
                            <td width="2%"></td>
                            <td width="96%" align="left" valign="bottom" style="padding-top:6px;">
                              <span style="font-size:<%= Settings::Font::Sizes.article_header %>;
                                           margin-bottom:2px;"
                                    width="100%">
                                <!-- When section articles can be autogenerated, reenable anchor generation. -->
                                <!-- <a name="<%= "#{section.short_name}#{index + 1}" %>"> -->
                                  <span style="font-family:<%= Settings::Font.family %>;
                                               color:<%= Settings::Colors.gray %>">
                                    <%= section.articles[index].title %></span>
                                <!-- </a> -->
                              </span>
                              <div style="border-bottom: solid thin <%= Settings::Colors.gray %>;
                                          margin-bottom:5px"></div>
                              <%
                              first_paragraph = true
                              section.articles[index].paragraphs.each do |paragraph|
                              %>
                              <% if not first_paragraph %>
                              <div>&nbsp;</div>
                              <% end %>
                              <%= parse_paragraph(paragraph) %>
                              <%
                              first_paragraph = false
                              end
                              %>
                              <div style="margin-top:10px; float:right">
                                <a href="#ReturnTop" style="font-size:<%= Settings::Font::Sizes.return_top %>;
                                                            color:<%= Settings::Colors.orange %>; text-decoration:none;
                                                            font-family:<%= Settings::Font.family %>">
                                  <strong><em>Return to top</em></strong>
                                </a>
                              </div>
                            </td>
                            <td width="2%"></td>
                          </tr>
                          <% end %>
                        <% else %>
                          <tr>
                            <td width="2%"></td>
                            <td width="96%" align="left" valign="bottom" style="padding-top:6px;">
                              <div style="font-size:<%= Settings::Font::Sizes.article_body %>;
                                          color:<%= Settings::Colors.gray %>; text-align: justify;
                                          font-family:<%= Settings::Font.family %>">
                                No current events scheduled for <%= section.title %>. For more information, please see
                                <a href="#<%= sections.first.short_name %>" target="_self"
                                   style="font-family:<%= Settings::Font.family %>; text-decoration:underline">
                                   <%= sections.first.title %> Events</a>.
                              </div>
                              <div style="margin-top:10px; float:right">
                                <a href="#ReturnTop" style="font-size:<%= Settings::Font::Sizes.return_top %>;
                                                            color:<%= Settings::Colors.orange %>; text-decoration:none;
                                                            font-family:<%= Settings::Font.family %>">
                                  <strong><em>Return to top</em></strong>
                                </a>
                              </div>
                            </td>
                            <td width="2%"></td>
                          </tr>
                        <% end %>
                        </table>
                      <% end %>

                        <!-- Articles for News & Information -->
                        <table cellpadding="4px" cellspacing="0px" width="100%" style="margin-top:6px;">
                          <tr>
                            <td rowspan="2" width="2%"></td>
                            <td width="96%" align="left" valign="bottom"
                                style="font-size:<%= Settings::Font::Sizes.category_header %>;
                                       padding-top:6px;">
                              <a name="news">
                                <span style="font-family:<%= Settings::Font.family %>;
                                             color:<%= Settings::Colors.gray %>">
                                  News & Information</span></a>
                            </td>
                            <td rowspan="2" width="2%"></td>
                          </tr>
                          <tr>
                            <td height="7px">
                              <div style="border-bottom:thin solid <%= Settings::Colors.orange %>"></div>
                            </td>
                          </tr>
                        <% (0..news.articles.count - 1).each do |index| %>
                          <!-- <%= news.articles[index].title %> Article -->
                          <tr>
                            <td width="2%"></td>
                            <td width="96%" align="left" valign="bottom" style="padding-top:6px;">
                              <span style="font-size:<%= Settings::Font::Sizes.article_header %>;
                                           margin-bottom:2px;"
                                    width="100%">
                                <a name="news<%= index + 1 %>">
                                  <span style="font-family:<%= Settings::Font.family %>;
                                               color:<%= Settings::Colors.gray %>">
                                  <%= news.articles[index].title %></span>
                                </a>
                              </span>
                              <div style="border-bottom: solid thin <%= Settings::Colors.gray %>;
                                          margin-bottom:5px"></div>
                              <%
                              first_paragraph = true
                              news.articles[index].paragraphs.each do |paragraph|
                              %>
                              <% if not first_paragraph %>
                              <div>&nbsp;</div>
                              <% end %>
                              <%= parse_paragraph(paragraph) %>
                              <%
                              first_paragraph = false
                              end
                              %>
                              <div style="margin-top:10px; float:right">
                                <a href="#ReturnTop" style="font-size:<%= Settings::Font::Sizes.return_top %>;
                                                            color:<%= Settings::Colors.orange %>; text-decoration:none;
                                                            font-family:<%= Settings::Font.family %>">
                                  <strong><em>Return to top</em></strong>
                                </a>
                              </div>
                            </td>
                            <td width="2%"></td>
                          </tr>
                        <% end %>
                        </table>

                        <!-- Links & Resources -->
                        <table cellpadding="4px" cellspacing="0px" width="100%" style="margin-top:8px;">
                          <tr>
                            <td rowspan="2" width="2%"></td>
                            <td width="96%" align="left" valign="bottom"
                                style="font-size:<%= Settings::Font::Sizes.category_header %>;">
                              <a name="resources">
                                <span style="font-family:<%= Settings::Font.family %>;
                                                         color:<%= Settings::Colors.gray %>">
                                Links & Resources</span></a>
                            </td>
                            <td rowspan="2" width="2%"></td>
                          </tr>
                          <tr>
                            <td height="7px">
                              <div style="border-bottom:thin solid <%= Settings::Colors.orange %>"></div>
                            </td>
                          </tr>
                        </table>

                        <table align="center" cellspacing="0px"
                               cellpadding="3px" width="100%">
                          <tr>
                            <td rowspan="<%= websites.count + 1 %>" width="2%"></td>
                            <td style="border:thin solid <%= Settings::Colors.orange %>;
                                       font-size:<%= Settings::Font::Sizes.article_header %>;
                                       color:<%= Settings::Colors.orange %>;
                                       font-family:<%= Settings::Font.family %>"
                                colspan="<%= websites.first.count %>"
                                align="center" width="96%">
                                <strong>Important Addresses</strong>
                            </td>
                            <td rowspan="<%= websites.count + 1 %>" width="2%"></td>
                          </tr>
                          <%
                          td_width = 96 / websites.first.count
                          websites.each do |group|
                          %>
                          <tr>
                            <%
                            left_border_style = 'solid'
                            group.each do |site_info|
                            %>
                            <td style="font-size:<%= Settings::Font::Sizes.article_body %>;
                                       border-style:none solid solid <%= left_border_style %>;
                                       border-width:thin; border-color:<%= Settings::Colors.orange %>"
                                align="center" width="<%= td_width %>%">
                              <a style="color:<%= Settings::Colors.gray %>;
                                        font-family:<%= Settings::Font.family %>;
                                        text-decoration:underline"
                                 href="<%= site_info.url %>" target="_blank">
                                 <%= site_info.name %>
                              </a>
                            </td>
                            <%
                            left_border_style = 'none'
                            end
                            %>
                          </tr>
                          <% end %>
                        </table>

                        <table align="center" cellspacing="0px"
                               cellpadding="3px" width="100%" style="margin-top:25px">
                          <tr>
                            <td rowspan="<%= locations.count + 1 %>" width="2%"></td>
                            <td style="border:thin solid <%= Settings::Colors.orange %>;
                                       font-size:<%= Settings::Font::Sizes.article_header %>;
                                       color:<%= Settings::Colors.orange %>;
                                       font-family:<%= Settings::Font.family %>"
                                align="center" width="96%">
                                <strong>Important Addresses</strong>
                            </td>
                            <td rowspan="<%= locations.count + 1 %>" width="2%"></td>
                          </tr>
                          <%
                          locations.each do |location|
                          %>
                          <tr>
                            <td style="font-size:<%= Settings::Font::Sizes.article_body %>;
                                       border-style:none solid solid;
                                       border-width:thin; border-color:<%= Settings::Colors.orange %>"
                                align="center">
                              <div style="margin-bottom:5px; color:<%= Settings::Colors.gray %>;
                                          font-family:<%= Settings::Font.family %>">
                                <strong><%= location.title %></strong><br>
                              </div>
                              <div style="margin-bottom:5px; color:<%= Settings::Colors.gray %>;
                                          font-family:<%= Settings::Font.family %>">
                                <%= location.address %>
                              </div>
                              <div style="margin-bottom:5px; color:<%= Settings::Colors.gray %>;
                                          font-family:<%= Settings::Font.family %>">
                                <% location.phones.each do |number| %>
                                <%= number %><br>
                                <% end %>
                                E-mail: <a target="_blank" href="mailto:<%= location.email %>"
                                           style="font-family:<%= Settings::Font.family %>;
                                                  text-decoration:underline">
                                  <%= location.email %></a>
                              </div>
                            </td>
                          </tr>
                          <% end %>
                        </table>

                        <table align="center" cellspacing="0px"
                               cellpadding="3px" width="100%" style="margin-top:25px">
                          <tr>
                            <td rowspan="<%= phone_numbers.count + 1 %>" width="2%"></td>
                            <td style="border:thin solid <%= Settings::Colors.orange %>;
                                       font-size:<%= Settings::Font::Sizes.article_header %>;
                                       color:<%= Settings::Colors.orange %>;
                                       font-family:<%= Settings::Font.family %>"
                                align="center" width="96%">
                                <strong>Important Phone Numbers</strong>
                            </td>
                            <td rowspan="<%= phone_numbers.count + 1 %>" width="2%"></td>
                          </tr>
                          <%
                          phone_numbers.each do |phone_number|
                          %>
                          <tr>
                            <td style="font-size:<%= Settings::Font::Sizes.article_body %>;
                                       border-style:none solid solid;
                                       border-width:thin; border-color:<%= Settings::Colors.orange %>"
                                align="center">
                              <div style="margin-bottom:5px; color:<%= Settings::Colors.gray %>;
                                          font-family:<%= Settings::Font.family %>">
                                <strong><%= phone_number.name %></strong><br>
                              </div>
                              <div style="margin-bottom:5px; color:<%= Settings::Colors.gray %>;
                                          font-family:<%= Settings::Font.family %>">
                                <%= phone_number.number %>
                              </div>
                            </td>
                          </tr>
                          <% end %>
                        </table>

                        <!-- Contact Us -->
                        <table cellpadding="4px" cellspacing="0px" width="100%" style="margin-top:8px;">
                          <tr>
                            <td rowspan="2" width="2%"></td>
                            <td width="96%" align="left" valign="bottom"
                                style="font-size:<%= Settings::Font::Sizes.category_header %>">
                              <a name="contact">
                                <span style="color:<%= Settings::Colors.gray %>;
                                                       font-family:<%= Settings::Font.family %>">
                                  Contact Us</span></a>
                            </td>
                            <td rowspan="2" width="2%"></td>
                          </tr>
                          <tr>
                            <td height="7px">
                              <div style="border-bottom:thin solid <%= Settings::Colors.orange %>"></div>
                            </td>
                          </tr>
                        </table>

                        <table width="100%" align="center" cellpadding="3px" cellspacing="0px">
                          <tr>
                            <td rowspan="4" width="2%"></td>
                            <td style="color:<%= Settings::Colors.gray %>;
                                       font-size:<%= Settings::Font::Sizes.contact_info %>;
                                       font-family:<%= Settings::Font.family %>"
                                valign="top">
                                To contact the <%= team %>,
                                please e-mail:
                                <a href="mailto:<%= email %>" target="_blank"
                                   style="color:<%= Settings::Colors.orange %>; text-decoration:none;
                                          font-family:<%= Settings::Font.family %>">
                                  <em><strong><%= email %></strong></em></a>.
                            </td>
                            <td rowspan="4" width="2%"></td>
                          </tr>
                          <tr>
                            <td style="color:<%= Settings::Colors.gray %>;
                                       font-family:<%= Settings::Font.family %>;
                                       font-size:<%= Settings::Font::Sizes.contact_info %>"
                                valign="top">
                                To contact the National Editorial Team,
                                please e-mail:
                                <a href="mailto:national@IsmailiInsight.org" target="_blank"
                                   style="color:<%= Settings::Colors.orange %>; text-decoration:none;
                                          font-family:<%= Settings::Font.family %>">
                                  <em><strong>national@IsmailiInsight.org</strong></em></a>.
                            </td>
                          </tr>
                          <tr>
                            <td style="color:<%= Settings::Colors.gray %>;
                                       font-size:<%= Settings::Font::Sizes.contact_info %>;
                                       font-family:<%= Settings::Font.family %>"
                                valign="top">
                                Please send your feedback and questions to
                                <a href="mailto:help@IsmailiInsight.org" target="_blank"
                                   style="color:<%= Settings::Colors.orange %>; text-decoration:none;
                                          font-family:<%= Settings::Font.family %>">
                                  <em><strong>help@IsmailiInsight.org</strong></em></a>.
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div style="border-bottom:thin solid <%= Settings::Colors.gray %>"></div>
                            </td>
                          </tr>
                        </table>

                        <!-- Subscription Management -->
                        <table width="100%" align="center" cellpadding="3px" cellspacing="0px">
                          <tr>
                            <td rowspan="6" width="2%"></td>
                            <td style="color:<%= Settings::Colors.gray %>;
                                       font-size:<%= Settings::Font::Sizes.contact_info %>;
                                       font-family:<%= Settings::Font.family %>"
                                valign="top">
                                If you would like to forward this to a friend, please
                                <a href="##ForwardToAFriend##" target="_blank"
                                   style="color:<%= Settings::Colors.orange %>; text-decoration:none;
                                          font-family:<%= Settings::Font.family %>">
                                  <em><strong>click here</strong></em></a>.
                            </td>
                            <td rowspan="6" width="2%"></td>
                          </tr>
                          <tr>
                            <td style="color:<%= Settings::Colors.gray %>;
                                       font-size:<%= Settings::Font::Sizes.contact_info %>;
                                       font-family:<%= Settings::Font.family %>"
                                valign="top">
                                If you received this e-mail from a friend and would like to
                                <strong>subscribe</strong>
                                to our e-mail list, please
                                <a href="https://www.ismailiinsight.org" target="_blank"
                                   style="color:<%= Settings::Colors.orange %>; text-decoration:none;
                                          font-family:<%= Settings::Font.family %>">
                                  <em><strong>click here</strong></em></a>.
                            </td>
                          </tr>
                          <tr>
                            <td style="color:<%= Settings::Colors.gray %>;
                                       font-size:<%= Settings::Font::Sizes.contact_info %>;
                                       font-family:<%= Settings::Font.family %>"
                                valign="top">
                                If you wish to
                                <strong>subscribe</strong>
                                to other regions, please
                                <a href="##UpdateSettings##" target="_blank"
                                   style="color:<%= Settings::Colors.orange %>; text-decoration:none;
                                          font-family:<%= Settings::Font.family %>">
                                  <em><strong>click here</strong></em></a>.
                            </td>
                          </tr>
                          <tr>
                            <td style="color:<%= Settings::Colors.gray %>;
                                       font-size:<%= Settings::Font::Sizes.contact_info %>;
                                       font-family:<%= Settings::Font.family %>"
                                valign="top">
                                If you wish to
                                <strong>unsubscribe</strong>
                                from all future e-mails, please
                                <a href="##UpdateSettings##" target="_blank"
                                   style="color:<%= Settings::Colors.orange %>; text-decoration:none;
                                          font-family:<%= Settings::Font.family %>">
                                  <em><strong>click here</strong></em></a>.
                            </td>
                          </tr>
                          <tr>
                            <td style="color:<%= Settings::Colors.gray %>;
                                       font-size:<%= Settings::Font::Sizes.contact_info %>;
                                       font-family:<%= Settings::Font.family %>"
                                valign="top">
                                If you wish to view our
                                <strong>privacy policy</strong>,
                                please
                                <a href="https://www.ismailiinsight.org/privacypolicy.htm"
                                   target="_blank"
                                   style="color:<%= Settings::Colors.orange %>; text-decoration:none;
                                          font-family:<%= Settings::Font.family %>">
                                  <em><strong>click here</strong></em></a>.
                            </td>
                          </tr>
                          <tr>
                            <td align="right" style="padding-bottom:33px">
                              <a href="#ReturnTop" style="font-size:<%= Settings::Font::Sizes.return_top %>;
                                                          color:<%= Settings::Colors.orange %>; text-decoration:none;
                                                          font-family:<%= Settings::Font.family %>">
                                <strong><em>Return to top</em></strong>
                              </a>
                            </td>
                          </tr>
                        </table>

                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
##TrackImpression##
